<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-title>Lobbies</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="lobContainer">
        <div class="" (click)="addLobby()">
            <div class="lobbyCard small">
                <div class="lobbyCardInfo">
                    <h4>Maak een groep aan</h4>
                    <ion-icon name="add"></ion-icon>
                </div>
            </div>
        </div>
        <a href="mylobbies">You can find your personal lobbies here</a>
        <ion-card *ngFor="let lobby of lobbies" (click)="joinLobby(lobby)">
            <ion-card-header>
                <ion-card-title>{{lobby.name}}</ion-card-title>
                <ion-card-subtitle *ngIf="currentLobby && currentLobby.lobbyId == lobby.lobbyId">Current Lobby</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <img src="../../../assets/img/logo.png" style="width:40%;margin:auto;margin-bottom:10px;"/>
                {{lobby.playerCount}} players
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="lobbies.length == 0" class="waitingScreen">
        <ion-spinner height="100px" class="loader"></ion-spinner>
    </div>

</ion-content>
