<ion-header>
  <ion-toolbar color="primary">
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="currentUser.username != null">
    <div class="container">
      <div class="row">
        <div class="left col-lg-4">
          <div class="photo-left">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <img class="photo" src="https://us.123rf.com/450wm/imagevectors/imagevectors1606/imagevectors160600227/58872995-white-profile-icon-on-blue-button-isolated-on-white.jpg?ver=6"/>
          </div>
          <h4 class="name">{{currentUser.username}}</h4>
          <p class="info">{{currentUser.email}}</p>
          <p class="info" *ngIf="currentUser.verified == true" color="success">Your account is verified!</p>
          <p class="info" *ngIf="currentUser.verified != true" color="danger">Please verify your account!</p>
          <div class="stats row">
            <div class="stat col-xs-4">
              <p class="number-stat">0 <span class="desc-stat">Friends</span></p>
            </div>
          </div>
          <h2 class="name">Game Statistics</h2>
          <div class="stats row">
            <div class="stat col-xs-4 column">
              <p class="number-stat">{{statistics.gamesPlayed}}</p>
              <p class="desc-stat">Games played</p>
            </div>
            <div class="stat col-xs-4 column">
              <p class="number-stat">{{statistics.gamesWon}}</p>
              <p class="desc-stat">Games won</p>
            </div>
            <div class="stat col-xs-4 column">
              <p class="number-stat">{{statistics.maximumPoints}}</p>
              <p class="desc-stat">Points</p>
            </div>
          </div>
          <div class="lobbyCard">
            <h3>Your current game</h3>
            <!--<h4>Game: {{currentUser.currentGame.gameId}}</h4>-->
            <!--<h5>{{currentUser.currentGame.amount}} Spelers:</h5>-->
          </div>
          <!--</div>-->
          <p class="desc">Hi {{currentUser.username}} ! You can find your lobbies here!</p>
        </div>
        <div class="right col-lg-8">
          <ul class="nav">
            <li>Your lobbies</li>
          </ul>
          <div *ngIf="lobbies.length !== 0">
            <div class="lobbyCard" *ngFor="let lobby of lobbies" (click)="joinLobby(lobby)">
              <img src="../../../assets/img/logo.png" height="70.2" width="100" />
              <div class="lobbyCardInfo">
                <h4>{{lobby.name}}</h4>
                <p>{{lobby.playerCount}} spelers</p>
                <p *ngIf="currentLobby && currentLobby.lobbyId == lobby.lobbyId" class="current">CURRENT</p>
                <p *ngIf="!currentLobby || currentLobby.lobbyId != lobby.lobbyId" class="current"><span>&#8203;</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="lobbies.length == 0" class="waitingScreen">
    <p>Loading...</p>
    <ion-spinner height="100px" class="loader" style.position="relative"></ion-spinner>
  </div>
</ion-content>
