<div #Hand id="Hand"
     [style.max-width.px]="deck.length*486/759*Hand.offsetHeight>windowWidth-486/759*Hand.offsetHeight ? windowWidth-486/759*Hand.offsetHeight : deck.length*486/759*Hand.offsetHeight" (window:resize)="resize()">
  <div>
    <div class="Card" *ngFor="let c of deck; let last = last" [style.width.px]="last ? (486 / 759 * Hand.offsetHeight) : (100/deck.length+'%')" [style.max-width]="486 / 759 * Hand.offsetHeight">
      <img src="assets/img/cards/{{c.image}}.png" class="cardImage" [style.left]="c.id*100/deck.length+1+'%'"
           id="{{c.id}}"
           [ngClass]="selectedCard===c.id ? 'selectedCard' : 'unselectedCard'"/>
    </div>
    <div *ngFor="let c of deck; let last = last" class="cardSelector"
         (mouseenter)="selectedCard = c.id"
         (mouseleave)="selectedCard===c.id?selectedCard=-1:''" style.left="{{c.id*100/deck.length+1}}%"
         [style.width]="last ? (486 / 759 * Hand.offsetHeight+'px') : (100/deck.length+'%')" (click)="playCard(c)"></div>
  </div>
</div>

