<div class="listInvites">
    <ion-list>
        <ion-item *ngFor="let invName of invitationList">
            <ion-label>{{ invName }}</ion-label>
        </ion-item>
    </ion-list>
</div>
<div class="invite">
    <ion-input type="text" [(ngModel)]="nameInput"></ion-input>
    <ion-button expand="full" color="secondary" (click)="addToList()">Add user to invitation list</ion-button>
</div>
<ion-button expand="full">Send invites</ion-button>