<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ul class="menuStatistics">
    <li (click)="setMostWins()">By wins</li>
    <li (click)="setMostPoints()">By points</li>
    <li (click)="setMostGames()">By games played</li>
  </ul>
  <div class="statistics" *ngIf="getSortedStats(0).length != null">
    <div class="statistic" id="gamesWon" *ngIf="showit == 1">
      <div class="title">Most Wins</div>
      <div class="user">
        <h3>Username:</h3>
        <h3>Wins:</h3>
      </div>
      <div *ngFor="let stat of getSortedStats(0)" class="user">
        <div class="userName" *ngIf="stat.user">{{stat.user.username}}</div>
        <div class="score">{{stat.gamesWon}}</div>
      </div>
    </div>
    <div class="statistic" id="gamesPlayed" *ngIf="showit == 2">
      <div class="title">Most Points</div>
      <div class="user">
        <h3>Username:</h3>
        <h3>Wins:</h3>
      </div>
      <div *ngFor="let stat of getSortedStats(1)" class="user">
        <div class="userName" *ngIf="stat.user">{{stat.user.username}}</div>
        <div class="score" *ngIf="stat.user">{{stat.gamesWon}}</div>
      </div>
    </div>
    <div class="statistic" id="winRate" *ngIf="showit == 3">
      <div class="title">Games played</div>
      <div class="user">
        <h3>Username:</h3>
        <h3>Wins:</h3>
      </div>
      <div *ngFor="let stat of getSortedStats(2)" class="user">
        <div class="userName" *ngIf="stat.user">{{stat.user.username}}</div>
        <div class="score" *ngIf="stat.user">{{stat.gamesWon}}</div>
      </div>
    </div>
  </div>
</ion-content>
