ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255,100,100,0.5);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.statistics {
  padding: 5px;
  height: calc(93vh - 10px);

  #gamesWon {
    margin-bottom: 5px;
  }

  #gamesPlayed {
    margin-bottom: 5px;
  }

  #winRate {
  }

  .statistic {
    background-color: rgba(100, 0, 0, 0.25);
    border-radius: 8px;
    min-width: 175px;
    width: calc(100% - 10px);
    height: calc((100% - 20px) / 3);
    min-height: 250px;
    position: relative;

    .title {
      text-align: center;
      font-size: 2em;
    }

    .smallUserList {
      height: calc(100% - 110px);
    }

    .bigUserList {
      height: calc(100% - 60px);
    }

    .userList {
      padding: 5px;
      background-color: rgba(255, 200, 200, 0.8);
      border-radius: 8px;
      position: absolute;
      left: 5px;
      right: 5px;
      width: calc(100% - 20px);
    }

    .userScore {
      text-align: center;
      font-weight: bold;
      left: 5px;
      right: 5px;
      bottom: 5px;
      position: absolute;

      .user {
        font-weight: normal;
        border-radius: 8px;
        background-color: mix(rgba(255,100,100,0.5), rgba(255, 200, 200, 0.8), 40%);
        padding: 5px;
      }
    }
  }
}

.currentUser {
  color: rgb(200, 50, 50);
}

.user {
  display: flex;
  justify-content: space-between;
}
.menuStatistics {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .statistics {
    display: flex;
    height: calc(93vh - 10px);

    #gamesWon {
      margin-right: 5px;
      margin-bottom: 0px;
    }

    #gamesPlayed {
      margin-right: 5px;
      margin-bottom: 0px;
    }

    .statistic {
      height: 100%;
      width: calc((100% - 20px) / 3);

      .userList {
        position: absolute;
        left: 5px;
        right: 5px;
        width: calc(100% - 20px);
        border-radius: 8px;
      }
    }
  }
}
