<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-title>Notifications</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="main">
        <div class="container">
            <ion-text *ngIf="notificationItems.length === 0">There are no notifications</ion-text>
            <div class="item" *ngFor="let not of notificationItems" style="text-align:left"
                 [style.backgroundColor]="not.color">
                {{not.message}}
                <div style="  text-align: right; margin-top:-12px">
                    <ion-button fill="clear" (click)=accept(not)>
                        <ion-icon style="color:green" name="checkmark"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" (click)=decline(not)>
                        <ion-icon style="color:red" name="close"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

</ion-content>
