.main{
  text-align: center;
}
.container{
  margin:auto;
  min-height: 300px;
  width:300px;
  border-radius: 5px;
}h1{
   color: #a73a3a;
 }
.item{
  margin: 10px;
  border-radius: 5px;
  padding: 15px;

}
.lob{
  background-color: green;
}