<div class="chatbox">
        <ion-list>
            <ion-item *ngFor="let chatMsg of chatlog;">
            <ion-label class="username">
                {{ chatMsg.sender.username }}
            </ion-label>
            <ion-label>
                {{ chatMsg.message }}
            </ion-label>
            </ion-item>
        </ion-list>
</div>
<div class="chatinput">
    <ion-input #chatInput type="text" [(ngModel)]="newMessage.message" (keyup.enter)="sendMessage()"></ion-input>
    <ion-button position="bottom" expand="full" (click)="sendMessage()">Send message</ion-button>
</div>
