<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-title>Game</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="!chatActivated" (click)="openChat()">
            <ion-icon name="chatboxes"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="chatActivated" (click)="closeChat()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-chatwindow *ngIf="chatActivated"></app-chatwindow>
    <div *ngIf="!chatActivated" class="game-content">
        <div class="loader">
            <ion-spinner *ngIf="!loaded"></ion-spinner>
        </div>
        <div *ngIf="(!colorActivatedCard)&&(loaded)" class="grid-container">
            <app-player class="player1 player" [events]="cardplusSubject[0].asObservable()"
                        [speler]="players[0]"></app-player>
            <app-player class="player2 player" [events]="cardplusSubject[1].asObservable()"
                        [speler]="players[1]"></app-player>
            <app-player class="player3 player" [events]="cardplusSubject[2].asObservable()"
                        [speler]="players[2]"></app-player>
            <app-player class="player4 player" [events]="cardplusSubject[3].asObservable()"
                        [speler]="players[3]"></app-player>
            <app-player class="player5 player" [events]="cardplusSubject[4].asObservable()"
                        [speler]="players[4]"></app-player>
            <app-player class="player6 player" [events]="cardplusSubject[5].asObservable()"
                        [speler]="players[5]"></app-player>
            <app-player class="player7 player" [events]="cardplusSubject[6].asObservable()"
                        [speler]="players[6]"></app-player>
            <app-player class="player8 player" [events]="cardplusSubject[7].asObservable()"
                        [speler]="players[7]"></app-player>
            <div class="takeCard"><img src="assets/img/unoback.png"
                                       (click)="takeCard()"></div>
            <div class="callUno"><img src="assets/img/unoButton.png"
                                      class="callUno"
                                      (click)="clickUno()"></div>
            <div class="hand">
                <app-hand *ngIf="player" (clickedCard)="onCardClicked($event)"
                          [deck]="player.cards"></app-hand><!-- deck = user.cards -->
            </div>

            <div class="card">
                <app-kaart *ngFor="let c of deck" [cardName]="c.image + '.png'" [choiceColor]="c.choiceColor"
                           style="position:absolute; height: 50%; margin-left: 5%;"
                           [style.transform]="getSafeTransform(c)"></app-kaart>
            </div>


        </div>
        <div *ngIf="colorActivatedCard">
            <app-choose-color (chosenColor)="chooseColor($event)"></app-choose-color>
        </div>
    </div>

</ion-content>
