.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 12.8% 12.8% 24.8% 24.8% 24.8%;
  grid-template-areas: "player1 player2 player3 player4 player5" "player6 player7 player8 player9 ." "card card card takeCard takeCard" "card card card callUno callUno" "hand hand hand hand hand";
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card { grid-area: card; }

.takeCard { grid-area: takeCard; text-align: center; }

.callUno { grid-area: callUno; text-align: center; }

.player1 { grid-area: player1; }

.player2 { grid-area: player2; }

.player3 { grid-area: player3; }

.player4 { grid-area: player4; }

.player5 { grid-area: player5; }

.player6 { grid-area: player6; }

.player7 { grid-area: player7; }

.player8 { grid-area: player8; }

.player9 { grid-area: player9; }

.hand { grid-area: hand; width: 90%; }

.loader {
  text-align: center;
}

.takeCard img {
  margin: auto;
  max-height: 100%;
}

.callUno img {
  margin: auto;
  max-height: 100%;
}

.game-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.chatbox {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100%;
  //background-color: #1b5e20;
}
