.profilePicture {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 0;
  background-color: white;
}
.profileTurn{
  -webkit-box-shadow: 0px 0px 60px 0px rgba(255,0,0,1);
  -moz-box-shadow: 0px 0px 60px 0px rgba(255,0,0,1);
  box-shadow: 0px 0px 60px 0px rgba(255,0,0,1);
}

.player {
  width: 100%;
  height: 9em;
  position: relative;
  display: inline-block;
  margin: auto;
  text-align: center;
}

.mat-progress-spinner {
  top: -0.5em;
  position: absolute;
  top: 0;
}

.playerName {
  text-align: center;
  font-size: 0.6em;
  font-family: "Arial Black", serif;
}

.amount {
  position: absolute;
  margin-left: -50%;
  margin-top: 25%;
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.turn {
  color: red;
}
.cardTake{
  color:red;
  font-size: 25px;
  animation: take 1s ease-out;
  opacity: 0;

}
@keyframes take{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  50%{

    opacity: 1;
    transform: scale(1.5);
  }
  100%{

    opacity: 0;
    transform: scale(0);
  }
}