<div class="player" *ngIf="speler!=null">
  <div style="position:relative">
    <img class="profilePicture" [class.profileTurn]="speler.turn" [src]="imgUrl"><span
          class="amount">{{speler.amount}}</span>
    <div *ngIf="plusCards" style="position:absolute; top:40%; right:-50px;" class="cardTake">
      +{{plusCards}}
    </div>
  </div>
  <span class="playerName" [class.turn]="speler.turn">{{speler.username}}</span>

</div>