.registerLink {
  text-align: center;
  margin: auto;
}

.errorMsg {
  text-align: center;
  color: red;
  font-weight: bold;
}

.successMsg {
  text-align: center;
  color: green;
  font-weight: bold;
}

form {
  text-align: center;
}