<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
    <ion-title>Login account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <div *ngIf="!loggedIn">
      <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <span *ngIf="error" class="errorMsg">
        {{error}}
      </span>
        <ion-input [(ngModel)]="user.email" name="email" placeholder="Email" required></ion-input>

        <ion-input [(ngModel)]="user.password" name="password" type="password" placeholder="Password" required></ion-input>

        <ion-button expand="full" [disabled]="!loginForm.form.valid" (click)="onSubmit()">Login account</ion-button>
      </form>
<!--
      <div class="socialButtons">
        <a href="https://localhost:9090/oauth2/authorize/facebook?redirect_uri=http://localhost:4200/oauth2/redirect"><img class="socialButton" src="/assets/img/google-signin.png"></a>
        <a href="https://localhost:9090/oauth2/authorize/google?redirect_uri=http://localhost:4200/oauth2/redirect"><img class="socialButton" src="/assets/img/facebook-signin.png"></a>
      </div>
-->
      <div class="registerLink">
        <a routerLink="/register" >Don't have an account yet? Register!</a>
      </div>
    </div>
    <div *ngIf="loggedIn">
      <span class="successMsg">You successfully logged in!</span>
    </div>
  </div>

</ion-content>
