<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-title>Lobby</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="!inviting" (click)="openInvites()">
            <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="inviting" (click)="closeInvites()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div *ngIf="inviting">
        <app-invite></app-invite>
    </div>
    <div *ngIf="currentLobby&&(!inviting)" class="container">
        <ion-button class="backButton" (click)="back()" mat-button>🠸</ion-button>
        <ion-input class="h1" matInput [(ngModel)]="currentLobby.name" placeholder="lobbyname"
                   (change)="lobbyNameChange()"
                   [disabled]="!currentLobby.isHost"></ion-input>
        <p></p>

        <ion-item-group style="font-size:10px; width:60px; display: inline-block">
            <ion-label>Max Players</ion-label>
            <ion-select [(ngModel)]="''+currentLobby.playerCount" (selectionChange)="playerCountChange()"
                        [disabled]="!currentLobby.isHost">
                <ion-select-option value="2">2 players</ion-select-option>
                <ion-select-option value="3">3 players</ion-select-option>
                <ion-select-option value="4">4 players</ion-select-option>
                <ion-select-option value="5">5 players</ion-select-option>
                <ion-select-option value="6">6 players</ion-select-option>
            </ion-select>
        </ion-item-group>
        <p></p>
        <div class="userContainer">
            <div class="user" *ngFor="let user of currentLobby.unoUsers"
                 [class.boss]="user.unoUserId == currentLobby.host.unoUserId">
                <div class="userIcon">{{user.username[0] | uppercase }}</div>
                {{user.username}} <span class="status" [class.alive]="user.alive"></span>
            </div>
        </div>
        <p></p>
        <p>Private:<input type="checkbox" class="startButton" mat-raised-button color="primary"
                          [(ngModel)]="currentLobby.isPrivate" (click)="makePrivate()"
                          [disabled]="!currentLobby.isHost"></p>
        <p></p>
        <ion-button expand="full" class="startButton" mat-raised-button color="primary" (click)="removeLobby()"
                    [disabled]="!currentLobby.isHost">D E L E T E
        </ion-button>
        <p></p>
        <ion-button expand="full" class="startButton" mat-raised-button color="primary" (click)="leaveLobby()"
                    [disabled]="currentLobby.isHost">L E A V E
        </ion-button>
        <p></p>
        <ion-button expand="full" class="startButton" mat-raised-button color="primary" (click)="addGame()">S T A R T
        </ion-button>
        <p>{{ created }}</p>
    </div>
    <div *ngIf="!inviting">
        <div *ngIf="!currentLobby" class="waitingScreen">

            <ion-spinner height="100px" class="loader"></ion-spinner>
        </div>
        <h2>Game history:</h2>
        <div *ngFor="let game of games" class="lobbyCard">
            <!--<img src="../../../assets/img/game.jpg" height="70.2" width="100">-->
            <h4>{{game.lobby.name}}</h4>
            <h5>{{game.amount}} Spelers:</h5>
            <!--<ol>-->
            <!--<li *ngFor="let player of game.players">{{player.user.username}} spelers</li>-->
            <!--</ol>-->
        </div>
    </div>
</ion-content>
