<ion-app>
    <ion-menu side="start" menuId="first">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Main menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item routerLink="/lobbies">Home</ion-item>
                <ion-item *ngIf="isLoggedin()" routerLink="/lobbies">Lobbies</ion-item>
                <ion-item *ngIf="isLoggedin()" routerLink="/statistics">Statistics</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-menu side="end" >
        <ion-header>
            <ion-toolbar color="secondary">
                <ion-title>User menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list *ngIf="isLoggedin()">
                <ion-item routerLink="/notifications">Notifications</ion-item>
                <ion-item routerLink="/account">Profile</ion-item>
                <ion-item (click)="logout()">Log out</ion-item>
            </ion-list>
            <ion-list *ngIf="!isLoggedin()">
                <ion-item routerLink="/login">Log in</ion-item>
                <ion-item routerLink="/register">Register</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
