<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="menu"></ion-icon>
        </ion-buttons>
        <ion-title>Register account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <span *ngIf="success" class="successMsg">
        You have successfully registered! Verify your e-mail.
      </span>
    <form novalidate #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <span *ngIf="error" class="errorMsg">
        {{error}}
      </span>
        <ion-item>
            <ion-input matInput [(ngModel)]="user.username" name="username" placeholder="Username" #username="ngModel"
                       minlength="2" required></ion-input>
        </ion-item>

        <span *ngIf="email.invalid && (email.dirty || email.touched)" class="errorMsg">
        Email is not correct!
      </span>
        <ion-item>
            <ion-input matInput [(ngModel)]="user.email" name="email" placeholder="E-mail" #email="ngModel" email
                       required></ion-input>
        </ion-item>

        <span *ngIf="password.invalid && (password.dirty || password.touched)" class="errorMsg">
        Password needs to be atleast 6 characters and contain one uppercase letter and digit!
      </span>
        <ion-item>
            <ion-input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,14}$" matInput
                       [(ngModel)]="user.password" name="password" #password="ngModel"
                       placeholder="Password" minlength="6" required></ion-input>
        </ion-item>

        <span *ngIf="(password.value != passwordVerify.value) && (passwordVerify.dirty || passwordVerify.touched)"
              class="errorMsg">
        Passwords do not match!
      </span>
        <ion-item>
            <ion-input type="password" matInput [(ngModel)]="passwordVerification" name="passwordVerify"
                       placeholder="Repeat Password" #passwordVerify="ngModel" required></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="onSubmit()" class="mat-background-primary"
                    [disabled]="(!registerForm.form.valid) || (password.value != passwordVerify.value)" mat-button>
            Register
            account
        </ion-button>
    </form>
    <div class="loginLink">
        <a routerLink="/login">Have an account already? Login!</a>
    </div>
</ion-content>
